$primary-color: #3b82f6;
$primary-light-color: #60a5fa;
$primary-dark-color: 1D4ED8;

$secondary-color: #fb923c;
$secondary-dark-color: #ea580c;

$text-color: #e5e7eb;
$text-sub-color: #9aa0b5;
$text-sub-dark-color: #72789b;
$border-color: #24283a;

$background-color: #0f0f0f;
$background-elevated-color: #020617;
$background-gradient: linear-gradient(0%, #1b2140, 30%, #14182c, 100%, #070910);

$success-color: #008c33;
$warning-color: #eab308;
$error-color: #f97373;

$border-radius: 6px;
