.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 10rem);

  .mainSection {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 80%;
    max-height: 27.5rem;
    padding: 2.5rem 3.75rem;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $background-elevated-color;

    .repoSelectGroup {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.625rem;

      @media screen and (max-width: 59.375rem) {
        grid-template-columns: 1fr;
      }

      .repoSelectWrapper {
        position: relative;
        display: flex;
        align-items: center;

        .repoSelectAvatar {
          position: absolute;
          left: 0.75rem;
          width: 1.375rem;
          height: 1.375rem;
          border-radius: 50%;
          pointer-events: none;
          z-index: 1;
        }

        .repoSelect {
          flex: 1;
          padding: 0.5rem 2.5rem 0.5rem 2.625rem;
          border: 1px solid $border-color;
          border-radius: $border-radius;
          background-color: $background-elevated-color;
          background-image: url("@assets/images/arrow-down.svg");
          background-size: 1.125rem 1.125rem;
          background-repeat: no-repeat;
          background-position: right 0.75rem center;
          color: $text-color;
          appearance: none;
          cursor: pointer;

          &[value=""] {
            padding-left: 0.75rem;
          }

          &:focus {
            outline: none;
            border-color: $primary-color;
          }
        }
      }
    }

    .repoList {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      list-style: none;
      overflow-y: auto;
      scrollbar-gutter: stable;

      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $border-color;
        border-radius: $border-radius;
      }

      &::-webkit-scrollbar-track {
        background-color: $background-elevated-color;
        border-radius: $border-radius;
      }

      .repoItem {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 0.625rem;
        padding: 0.5rem 1rem;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        background-color: $background-elevated-color;

        @include max-tablet {
          grid-template-columns: 1fr;
          gap: 1rem;
        }

        .repoItemTitle {
          display: flex;
          align-items: center;
          gap: 0.625rem;

          img {
            width: 1.375rem;
            height: 1.375rem;
          }
        }

        button {
          @include button(#65ff7785, #15570f96, 0.5rem 1rem, #d2ffdc);
        }
      }
    }

    .installationLink {
      color: $primary-color;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
