.main {
  height: calc(100vh - 4.25rem);
  padding: 0.9375rem 0;

  .mainSection {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    height: 100%;

    .content {
      display: grid;
      grid-template-columns: 17.5rem minmax(0, 1fr);
      grid-template-rows: 1fr;
      gap: 0.9375rem;

      @media screen and (max-width: 82.5rem) {
        grid-template-columns: 1fr;
      }

      .item {
        display: flex;
        flex-direction: column;
        gap: 0.9375rem;
      }
    }
  }
}
