.dragableComponent {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 100%;
  min-height: 9rem;
  max-height: 9rem;
  padding-right: 0.5rem;
  margin-bottom: 1.25rem;

  @include max-large {
    min-height: 0;
    max-height: initial;
    height: auto;
  }

  .component {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.5rem 1rem;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $background-elevated-color;
    cursor: move;
    user-select: none;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }

    &:active {
      cursor: grabbing;
    }

    .componentDragHandle {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-sub-color;
      font-size: 1.25rem;
      cursor: grab;
      user-select: none;

      &:active {
        cursor: grabbing;
      }
    }

    .componentTitle {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      color: $text-color;
    }

    button {
      background-color: transparent;

      img {
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        user-select: none;
        transition: opacity 0.2s;
      }
    }
  }

  .active {
    border-color: $primary-color;
    background-color: rgba(255, 255, 255, 0.05);
  }
}
