.repoDetailHeader {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, auto);
  width: 100%;
  gap: 0.9375rem;

  @media screen and (max-width: 82.5rem) {
    grid-template-columns: 1fr;

    .mainTitle {
      flex: 1;
      max-width: 100% !important;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .repoDetailHeaderLeft {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
    min-width: 0;

    .repoDetailAvatar {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }

    .mainTitle {
      max-width: 60%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .repoDetailStatus {
      padding: 0.375rem 0.75rem;
      border-width: 1px;
      border-style: solid;
      border-radius: 0.75rem;
      font-size: 0.75rem;

      &.good {
        background-color: #008c3321;
        border-color: #00b84490;
      }

      &.created {
        background-color: #3b82f621;
        border-color: #60a5fa90;
      }

      &.improvement {
        background-color: #eab30821;
        border-color: #fbbf2490;
      }

      &.none {
        background-color: #43496421;
        border-color: #5c617e90;
      }
    }
  }

  .repoDetailHeaderRight {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9375rem;
    justify-content: flex-end;
    min-width: 0;

    @media screen and (max-width: 41.25rem) {
      flex-direction: column;

      .btn {
        justify-content: center;
      }

      .branchSelect {
        text-align: center;
      }
    }

    .branchSelect {
      padding: 0.375rem 2.5rem 0.375rem 0.75rem;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      color: $text-color;
      appearance: none;
      cursor: pointer;

      background-color: $background-elevated-color;
      background-image: url("@assets/images/arrow-down.svg");
      background-size: 1.125rem 1.125rem;
      background-repeat: no-repeat;
      background-position: calc(100% - 0.75rem) calc(50% + 2px);

      &:focus {
        outline: none;
        border-color: $primary-color;
      }
    }

    .btn {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      @include button(
        $border-color,
        $background-elevated-color,
        0.375rem 0.75rem
      );

      img {
        width: 1rem;
        height: 1rem;
      }

      &.evaluationBtn {
        background-color: #eab30821;
        border-color: #fbbf2490;
      }

      &.generateBtn {
        background-color: #3b82f621;
        border-color: #60a5fa90;
      }

      &.prBtn {
        background-color: #008c3321;
        border-color: #00b84490;

        img {
          width: 0.875rem;
          height: 0.875rem;
        }
      }
    }
  }
}
