.markdownEditor {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  min-height: 44rem;
  max-height: 44rem;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;

  * {
    line-height: 1.5 !important;
    font-family: inherit !important;
  }

  @include max-large {
    height: auto;
    min-height: initial;
  }
}
