.markdownEditor {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;

  * {
    line-height: 1.5 !important;
    font-family: inherit !important;
  }
}
