.markdownEditor {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  min-height: 0; /* flex 자식이 100% 높이를 쓸 수 있도록 */
  border: 1px solid $border-color;
  border-radius: $border-radius;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;

  * {
    line-height: 1.5 !important;
    font-family: inherit !important;
  }

  @include max-large {
    height: auto;
  }
}
