.inputField {
  // 회색 계열
  background-color: #24283a;
  border-color: rgba(161, 161, 170, 0.5647058824);
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .btnGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

    .btn {
      @include button($border-color, $background-elevated-color, 0.5rem 1rem);
      display: flex;
      justify-content: center;
      align-items: center;

      .cancelBtn:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
  }
}

.btnGroup {
  display: flex;
  gap: 0.5rem;

  .btn {
    @include button($border-color, $background-elevated-color, 0.5rem 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }

    img {
      width: 0.875rem;
      height: 0.875rem;
      filter: brightness(0) invert(1);
    }

    &.addBtn {
      @include button-success();
    }
  }
}

.sectionList {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 100%;
  max-height: 20.625rem;
  padding-right: 0.5rem;

  .sectionItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $background-elevated-color;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}
