.header {
  padding: 1.25rem 0;
  border-bottom: 1px solid #24283a;
  backdrop-filter: blur(16px);
  background: linear-gradient(0deg, rgba(5, 6, 8, 0.9), rgba(5, 6, 8, 0.4));

  .headerContent {
    padding: 0 15%;

    @include max-tablet {
      padding: 0 10%;
    }

    @include max-mobile {
      padding: 0 5%;
    }

    &.repo {
      padding: 0 10%;

      @include max-tablet {
        padding: 0 5%;
      }

      @include max-mobile {
        padding: 0 5%;
      }
    }
  }

  .headerLeft {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 1.375rem;
      height: 1.375rem;
    }

    .headerLeftTitle {
      display: flex;
      align-items: flex-start;
      gap: 5px;

      .subTitle {
        font-size: 0.625rem;
        color: $text-sub-color;
      }
    }
  }
}
